/*General*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figure,
figcaption,
footer,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}
body,
html {
  font-family: Arial;
  font-size: 16px;
  color: #707070;
  position: relative;
  width: 100%;
  height: 100%;
}
body {
  display: table;
}
.g-font-style {
  font-family: Arial;
  font-size: 16px;
  color: #707070;
}
.g-a-style {
  font-family: Arial;
  font-size: 16px;
  color: #707070;
  text-decoration: none;
}
/*Styling header*/
.top-header {
  height: 30px;
  text-align: center;
  background-color: #b2b2b2;
}
.top-header-menu {
  width: 50%;
  display: inline-block;
  text-align: right;
}
@media (max-width: 830px) {
  .top-header-menu {
    width: 60%;
  }
}
@media (max-width: 635px) {
  .top-header-menu {
    display: none;
  }
}
.top-header-menu li {
  margin-top: 5px;
  display: inline-block;
}
.top-header-menu a {
  font-family: Arial;
  font-size: 16px;
  color: #707070;
  text-decoration: none;
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 12px;
}
.top-header-menu a:hover {
  text-decoration: underline;
}
@media (max-width: 830px) {
  .top-header-menu a {
    font-size: 8px;
  }
}
.top-header-contacts {
  width: 37.5%;
  display: inline-block;
  text-align: left;
}
@media (max-width: 830px) {
  .top-header-contacts {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
}
@media (max-width: 635px) {
  .top-header-contacts {
    text-align: center;
    margin-top: 5px;
    width: 100%;
  }
}
.top-header-contacts li {
  margin-right: 10px;
  display: inline-block;
  max-width: 200px;
  min-width: 80px;
}
.top-header-contacts span {
  font-size: 12px;
  text-transform: uppercase;
}
@media (max-width: 830px) {
  .top-header-contacts span {
    font-size: 8px;
  }
}
.header {
  height: 60px;
  background-color: rgba(12, 182, 205, 0.8);
}
@media (max-width: 830px) {
  .header {
    height: 70px;
  }
}
.header-container {
  position: relative;
  margin: 0 auto;
  width: 75%;
  text-align: center;
}
@media (max-width: 830px) {
  .header-container {
    width: 100%;
  }
}
.header-menu,
.header-menu_shop {
  margin-left: 20px;
  display: inline-block;
}
@media (max-width: 635px) {
  .header-menu,
  .header-menu_shop {
    width: 250px;
    margin-top: 21px;
  }
}
.header-menu > li,
.header-menu_shop > li {
  position: relative;
  display: inline-block;
  padding-top: 21px;
}
.header-menu__name {
  outline: none;
  padding: 21px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}
.header-menu__name:hover {
  background-color: rgba(11, 161, 181, 0.8);
}
@media (max-width: 635px) {
  .header-menu__name {
    padding: 10px;
    font-size: 14px;
  }
}
.header-menu-dropdown {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  z-index: 100;
  display: none;
  width: 150px;
  text-align: left;
}
@media (max-width: 635px) {
  .header-menu-dropdown {
    top: 40px;
  }
}
.header-menu-dropdown li {
  margin-top: 20px;
  width: 150px;
}
.header-menu-dropdown a {
  margin-top: -10px;
  padding: 10px;
  text-transform: none;
  background-color: #f2f2f2;
  color: #707070;
}
.header-menu-dropdown a:hover {
  background-color: rgba(12, 182, 205, 0.8);
  color: #fff;
}
@media (max-width: 830px) {
  ul.header-menu_shop {
    display: none;
  }
}
.header-logo img {
  position: absolute;
  left: 5px;
  top: 10px;
  width: 50px;
}
@media (max-width: 635px) {
  .header-logo img {
    width: 30px;
  }
}
@media (max-width: 635px) {
  .header-logo img {
    top: 20px;
  }
}
.header-search,
.header-search_wide {
  margin-left: 20px;
  display: inline-block;
}
.search-form input {
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
}
@media (max-width: 635px) {
  .search-form input {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 205px;
  }
}
.search-form input:focus {
  outline: none;
}
@media (max-width: 830px) {
  .header-search_wide {
    position: absolute;
    top: 20px;
    left: 120px;
    margin-left: 0;
    width: 100%;
    text-align: left;
  }
}
.header-search_wide input {
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
}
.header-search_wide input:focus {
  outline: none;
}
@media (max-width: 830px) {
  .header-search_wide input {
    width: 75%;
  }
}
@media (max-width: 635px) {
  .header-search_wide input {
    width: 57.69230769%;
  }
}
.header-cart img {
  position: absolute;
  right: 5px;
  top: 25px;
  width: 30px;
}
@media (max-width: 830px) {
  .header-cart img {
    top: 20px;
  }
}
/*Styling main for index*/
.gallery {
  position: relative;
  margin: 0 auto;
  text-align: center;
  background: url(../images/background-up.png);
  background-repeat: no-repeat;
}
@media (max-width: 830px) {
  .gallery {
    width: 100%;
  }
}
.gallery__prev {
  position: absolute;
  top: 50%;
  left: 9%;
  font-size: 50px;
  text-decoration: none;
  color: #b2b2b2;
}
.gallery__prev:hover {
  color: #7f7f7f;
}
@media (max-width: 830px) {
  .gallery__prev {
    left: 0;
  }
}
.gallery__next {
  position: absolute;
  top: 50%;
  right: 9%;
  font-size: 50px;
  text-decoration: none;
  color: #b2b2b2;
}
.gallery__next:hover {
  color: #7f7f7f;
}
@media (max-width: 830px) {
  .gallery__next {
    right: 0;
  }
}
.gallery__banner img {
  margin-bottom: -5px;
  width: 75%;
}
@media (max-width: 830px) {
  .gallery__banner img {
    width: 100%;
  }
}
.news {
  background-color: #f2f2f2;
}
.news ul {
  margin: 0 auto;
  width: 75%;
}
@media (max-width: 830px) {
  .news ul {
    width: 100%;
  }
}
.news-article {
  margin: 20px 0 20px -5px;
  display: inline-block;
  width: 50%;
  text-align: left;
  color: #707070;
}
@media (max-width: 830px) {
  .news-article {
    width: 100%;
    font-size: 14px;
  }
}
.news-article h1 {
  padding-left: 10px;
  font-weight: 700;
}
.news-article p {
  padding: 10px;
}
.shop-categories {
  margin: 0 auto;
  background: url(../images/background-down.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  text-align: center;
}
.shop-categories__item {
  position: relative;
  width: 37.5%;
  display: inline-block;
}
@media (max-width: 830px) {
  .shop-categories__item {
    width: 100%;
  }
}
.shop-categories__item img {
  width: 100%;
}
.shop-categories__item h1 {
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 100%;
  padding: 5px 0;
  display: inline-block;
  text-align: center;
  background-color: rgba(12, 182, 205, 0.8);
  color: #fff;
}
.shop-categories__item h1:hover {
  background-color: rgba(9, 139, 157, 0.8);
}
/*Styling main for shop*/
.shop-menu {
  position: absolute;
  top: 100px;
  left: 0;
  display: none;
  color: #fff;
}
@media (max-width: 830px) {
  .shop-menu {
    display: block;
  }
}
.shop-menu > li {
  text-transform: uppercase;
}
.shop-menu__name {
  padding: 10px;
  display: block;
  width: 100px;
  cursor: pointer;
  background-color: rgba(12, 182, 205, 0.8);
  outline-color: rgba(9, 139, 157, 0.8);
}
.shop-menu__name:hover {
  background-color: rgba(11, 161, 181, 0.8);
}
.shop-menu-dropdown {
  display: none;
}
.shop-menu-dropdown li {
  text-transform: none;
}
.shop-menu-dropdown a {
  font-family: Arial;
  font-size: 16px;
  color: #707070;
  text-decoration: none;
  padding: 10px;
  width: 100px;
  display: block;
  background-color: #fff;
}
.shop-menu-dropdown a:hover {
  background-color: rgba(219, 249, 253, 0.8);
}
.shop-products {
  margin: 100px auto 0 auto;
  width: 75%;
  text-align: center;
}
@media (max-width: 635px) {
  .shop-products {
    float: right;
  }
}
.products-block {
  margin: 0 40px 50px 50px;
  display: inline-block;
}
.products-block a {
  font-family: Arial;
  font-size: 16px;
  color: #707070;
  text-decoration: none;
  display: block;
  padding: 10px;
  text-align: center;
  background-color: #e5e5e5;
  cursor: pointer;
}
.products-block a:hover {
  text-decoration: none;
  background-color: #cbcbcb;
}
.products-block span {
  display: inline-block;
}
.products-block h2 {
  display: inline-block;
}
.products-block__header {
  display: inline-block;
}
.products-block__header a {
  font-family: Arial;
  font-size: 16px;
  color: #707070;
  text-decoration: none;
  padding: 0;
  background-color: #fff;
}
.products-block__header a:hover {
  text-decoration: underline;
  background-color: #fff;
}
/*Styling b-footer*/
footer {
  width: 100%;
  display: table-row;
  background-color: #b2b2b2;
}
.footer-container {
  margin: 0 auto;
  width: 75%;
  text-align: center;
}
@media (max-width: 830px) {
  .footer-container {
    width: 100%;
  }
}
.footer-menu {
  margin: 20px 50px 20px 0;
  display: inline-block;
  padding-left: 20px;
  vertical-align: top;
  text-align: left;
}
.footer-menu:nth-child(4) {
  margin-right: 0;
}
.footer-menu-column a {
  font-family: Arial;
  font-size: 16px;
  color: #707070;
  text-decoration: none;
}
.footer-menu-column a:hover {
  text-decoration: underline;
}
.footer-menu-column li {
  margin-bottom: 10px;
}
.footer-menu-form input {
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
}
.footer-menu-form input:focus {
  outline: none;
}
.footer-menu-form button {
  font-family: Arial;
  font-size: 16px;
  color: #707070;
  padding: 3px 10px;
  text-align: center;
  background-color: rgba(12, 182, 205, 0.8);
  outline: none;
  border: none;
  cursor: pointer;
}
.footer-menu-form button:active {
  background-color: rgba(26, 216, 242, 0.8);
}
.footer-menu h2 {
  margin-bottom: 10px;
  font-weight: 700;
}
