/*General*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figure,
figcaption,
footer,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}
body,
html {
  font-family: Arial;
  font-size: 16px;
  color: #505050;
  width: 100%;
  height: 100%;
  position: relative;
}
body {
  display: table;
}
.g-font-style {
  font-family: Arial;
  font-size: 16px;
  color: #505050;
}
.g-a-style {
  text-decoration: none;
  font-family: Arial;
  font-size: 16px;
  color: #505050;
}
/*Styling header*/
.top-header {
  height: 30px;
  background-color: #b2b2b2;
  text-align: center;
}
.top-header-menu {
  width: 50%;
  display: inline-block;
  text-align: right;
}
@media (max-width: 830px) {
  .top-header-menu {
    width: 60%;
  }
}
@media (max-width: 635px) {
  .top-header-menu {
    display: none;
  }
}
.top-header-menu li {
  display: inline-block;
  margin-top: 5px;
}
.top-header-menu li a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: Arial;
  font-size: 16px;
  color: #505050;
  font-size: 12px;
  margin-right: 20px;
}
@media (max-width: 830px) {
  .top-header-menu li a {
    font-size: 8px;
  }
}
.top-header-menu li a:hover {
  text-decoration: underline;
}
.top-header-contacts {
  width: 37.5%;
  display: inline-block;
  text-align: left;
}
@media (max-width: 830px) {
  .top-header-contacts {
    width: 30%;
  }
}
@media (max-width: 635px) {
  .top-header-contacts {
    width: 100%;
  }
}
@media (max-width: 635px) {
  .top-header-contacts {
    text-align: center;
    margin-top: 5px;
  }
}
.top-header-contacts li {
  display: inline-block;
  max-width: 200px;
  min-width: 80px;
  margin-right: 10px;
}
.top-header-contacts span {
  font-size: 12px;
  text-transform: uppercase;
}
@media (max-width: 830px) {
  .top-header-contacts span {
    font-size: 8px;
  }
}
.header {
  background-color: rgba(12, 182, 205, 0.8);
  height: 60px;
}
.header-container {
  width: 75%;
  text-align: center;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 830px) {
  .header-container {
    width: 100%;
  }
}
.header-menu {
  display: inline-block;
  margin-left: 20px;
}
@media (max-width: 635px) {
  .header-menu {
    width: 200px;
    margin-top: 42px;
  }
}
.header-menu > li {
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  padding: 20px;
}
@media (max-width: 635px) {
  .header-menu > li {
    padding: 10px;
    font-size: 14px;
  }
}
.header-menu > li:hover {
  background-color: rgba(11, 161, 181, 0.8);
}
.header-menu > li span {
  outline: none;
}
.header-menu > li ul {
  position: absolute;
  display: none;
  width: 150px;
  left: 0;
  right: 0;
  top: 50px;
  z-index: 100;
  text-align: left;
}
.header-menu > li ul li {
  margin-top: 20px;
  width: 150px;
}
.header-menu > li ul a {
  padding: 10px;
  margin-top: -10px;
  text-transform: none;
  background-color: #f2f2f2;
  color: #707070;
}
.header-menu > li ul a:hover {
  background-color: rgba(12, 182, 205, 0.8);
  color: #fff;
}
.header-logo img {
  width: 50px;
  position: absolute;
  left: 5px;
  top: 10px;
}
@media (max-width: 635px) {
  .header-logo img {
    width: 30px;
  }
}
@media (max-width: 635px) {
  .header-logo img {
    top: 20px;
  }
}
.header-search {
  margin-left: 20px;
  display: inline-block;
}
.header-search input {
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  padding: 4px;
}
@media (max-width: 635px) {
  .header-search input {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 190px;
  }
}
.header-search input:focus {
  outline: none;
}
.header-search_wide {
  position: absolute;
  top: 20px;
  left: 10%;
}
.header-search_wide input {
  width: 300px;
}
.header-cart img {
  width: 30px;
  position: absolute;
  right: 5px;
  top: 25px;
}
@media (max-width: 830px) {
  .header-cart img {
    top: 20px;
  }
}
/*Styling main*/
.main-gallery {
  text-align: center;
  background: url(../images/background-up.png);
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 830px) {
  .main-gallery {
    width: 100%;
  }
}
.main-gallery__prev {
  position: absolute;
  top: 50%;
  left: 9%;
  font-size: 50px;
  text-decoration: none;
  color: #b2b2b2;
}
.main-gallery__prev:hover {
  color: #7f7f7f;
}
@media (max-width: 830px) {
  .main-gallery__prev {
    left: 0;
  }
}
.main-gallery__next {
  position: absolute;
  top: 50%;
  right: 9%;
  font-size: 50px;
  text-decoration: none;
  color: #b2b2b2;
}
.main-gallery__next:hover {
  color: #7f7f7f;
}
@media (max-width: 830px) {
  .main-gallery__next {
    right: 0;
  }
}
.main-gallery img {
  margin-bottom: -5px;
  width: 75%;
}
@media (max-width: 830px) {
  .main-gallery img {
    width: 100%;
  }
}
.main-news {
  background-color: #f2f2f2;
}
.main-news ul {
  width: 75%;
  margin: 0 auto;
}
@media (max-width: 830px) {
  .main-news ul {
    width: 100%;
  }
}
.main-news li {
  display: inline-block;
  width: 50%;
  margin: 20px 0 20px -5px;
  text-align: left;
  color: #707070;
}
@media (max-width: 830px) {
  .main-news li {
    width: 100%;
    font-size: 14px;
  }
}
.main-news li h1 {
  font-weight: 700;
  padding-left: 10px;
}
.main-news li p {
  padding: 10px;
}
.main-shop {
  margin: 0 auto;
  text-align: center;
  background: url(../images/background-down.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.main-shop__item {
  width: 37.5%;
  display: inline-block;
  position: relative;
}
@media (max-width: 830px) {
  .main-shop__item {
    width: 100%;
  }
}
.main-shop__item img {
  width: 100%;
}
.main-shop__item h1 {
  width: 100%;
  text-align: center;
  padding: 5px 0;
  bottom: 4px;
  display: inline-block;
  position: absolute;
  left: 0;
  background-color: rgba(12, 182, 205, 0.8);
  color: #fff;
}
.main-shop__item h1:hover {
  background-color: rgba(9, 139, 157, 0.8);
}
/*Styling b-footer*/
footer {
  width: 100%;
  display: table-row;
  background-color: #b2b2b2;
}
.footer-container {
  margin: 0 auto;
  width: 75%;
  text-align: center;
}
@media (max-width: 830px) {
  .footer-container {
    width: 100%;
  }
}
.footer-menu {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 20px 50px 20px 0;
  padding-left: 20px;
}
.footer-menu:nth-child(4) {
  margin-right: 0;
}
.footer-menu li {
  margin-bottom: 5px;
}
.footer-menu input {
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  padding: 4px;
}
.footer-menu input:focus {
  outline: none;
}
.footer-menu button {
  outline: none;
  font-family: Arial;
  font-size: 16px;
  color: #505050;
  background-color: rgba(12, 182, 205, 0.8);
  border: none;
  padding: 3px 10px;
  text-align: center;
  cursor: pointer;
}
.footer-menu button:active {
  background-color: rgba(26, 216, 242, 0.8);
}
.footer-menu h2 {
  font-weight: 700;
  margin-bottom: 10px;
}
.footer-menu-column a {
  text-decoration: none;
  font-family: Arial;
  font-size: 16px;
  color: #505050;
}
.footer-menu-column a:hover {
  text-decoration: underline;
}
/*Styling shop*/
.shop-menu-container {
  position: fixed;
  top: 35%;
  left: 0;
  color: #fff;
}
.shop-menu-container > ul > li {
  text-transform: uppercase;
}
.shop-menu-container > ul > li > span {
  padding: 10px;
  cursor: pointer;
  background-color: rgba(12, 182, 205, 0.8);
  display: block;
  width: 100px;
  outline-color: rgba(9, 139, 157, 0.8);
}
.shop-menu-container > ul > li > span:hover {
  background-color: rgba(11, 161, 181, 0.8);
}
.shop-menu-container > ul > li ul {
  display: none;
}
.shop-menu-container > ul > li ul li {
  text-transform: none;
}
.shop-menu-container > ul > li ul li a {
  text-decoration: none;
  font-family: Arial;
  font-size: 16px;
  color: #505050;
  padding: 10px;
  width: 100px;
  display: block;
  background-color: #fff;
}
.shop-menu-container > ul > li ul li a:hover {
  background-color: rgba(219, 249, 253, 0.8);
}
.main-shop-products {
  width: 75%;
  text-align: center;
  margin: 100px auto 0 auto;
}
@media (max-width: 635px) {
  .main-shop-products {
    margin-bottom: 0;
    float: right;
  }
}
.main-shop-products div {
  display: inline-block;
  margin: 0 40px 50px 50px;
}
.main-shop-products div a {
  text-decoration: none;
  font-family: Arial;
  font-size: 16px;
  color: #505050;
  padding: 10px;
  background-color: #e5e5e5;
  display: block;
  text-align: center;
  cursor: pointer;
}
.main-shop-products div a:hover {
  text-decoration: none;
  background-color: #cbcbcb;
}
.main-shop-products div span {
  display: inline-block;
}
.main-shop-products div h2 {
  display: inline-block;
}
.main-shop-products div h2 a {
  padding: 0;
  background-color: #fff;
  display: inline-block;
  text-decoration: none;
  font-family: Arial;
  font-size: 16px;
  color: #505050;
}
.main-shop-products div h2 a:hover {
  background-color: #fff;
}
