.header {
	background-color: @menu-color;
	height: 60px;
}
.header-container {
	width: @inner-blocks-width;
	text-align: center;
	margin: 0 auto;
	position: relative;
	@media (max-width: @media-width-all) {width: @main-blocks-width;}
}