main {
	@media (max-width: @breakpoint-tablet) {
		float: right;
		margin-top: 30px;
		width: 70%;
	}

	@media (max-width: @breakpoint-mobile) {
		float: none;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
}

.section-layout {
	position: relative;
	margin: 0 auto;
	width: 75%;
	text-align: center;

	@media (max-width: @breakpoint-tablet) {
		width: 100%;
	}
}

.gallery-layout {
	background: url(../images/background-up.png); 
	background-repeat: no-repeat;
}