.footer-menu {
	margin: 20px 50px 20px 0;
	display: inline-block;
	padding-left: 20px;
	vertical-align: top;
	text-align: left;
	&:nth-child(4) {
		margin-right: 0;
	}
}
.footer-menu-column a {
	.g-a-style;
	&:hover {
		text-decoration: underline;
	}
}
.footer-menu-column li {
	margin-bottom: @g-margin-b;
}
.footer-menu-form input {
	padding: 4px;
	background-color: @search-background-color;
	border: none;
	&:focus {
		outline: none;
	}
}
.footer-menu-form button {
	.g-font-style;
	padding: 3px 10px;
	text-align: center;
	background-color: @menu-color;
	outline: none;
	border: none;
	cursor: pointer;
	&:active {
		background-color: lighten(@menu-color, 10%);
	}
}
.footer-menu h2 {
	margin-bottom: @g-margin-b;
	font-weight: 700;
}