.news {
	background-color: lighten(@sub-menu-color, 25%);
}
.news ul {
	width: @inner-blocks-width;
	@media (max-width: @media-width-all) {width: @main-blocks-width;}
	margin: 0 auto;
}
.news-article {
	display: inline-block;
	width: @inner-blocks-width/1.5;
	margin: 20px 0 20px -5px;
	text-align: left;
	color: #707070;
	@media (max-width: @media-width-all) {width: @main-blocks-width; font-size: @font-size-regular;}
}
.news-article h1 {
	font-weight: 700;
	padding-left: 10px;
}
.news-article p {
	padding: 10px;
}