.search-form {

	input {
		padding: 5px;
		background-color: @search-background-color;
		border: none;

		&:focus {
			outline: none;
		}

		@media (max-width: @breakpoint-tablet) {
			width: 100% - 10;
		}

		@media (max-width: @breakpoint-mobile) {
			width: 100% - 5;
		}
	}

	@media (max-width: @breakpoint-mobile) {
		width: 100%;
		text-align: right;
	}
}
