.header-search,
.header-search_wide {
	margin-left: 20px;
	display: inline-block;
}
.search-form input {
	padding: 4px;
	background-color: @search-background-color;
	border: none;
	@media (max-width: @media-width-mobile) {
		position: absolute; 
		top: 10px; 
		left: 0; 
		right: 0; 
		margin: 0 auto; 
		width: 205px;
	}
	&:focus {
		outline: none;
	}
}
.header-search_wide {
	@media (max-width: @media-width-all) {
		position: absolute;
		top: 20px;
		left: 120px;
		margin-left: 0;
		width: @main-blocks-width;
		text-align: left;
	}
	@media (max-width: @media-width-mobile) {
		left: 60px;
	}
}
.header-search_wide input {
	padding: 4px;
	background-color: @search-background-color;
	border: none;
	&:focus {
		outline: none;
	}
	@media (max-width: @media-width-all) {
		width: @inner-blocks-width;
	}
	@media (max-width: @media-width-mobile) {
		width: @inner-blocks-width/1.2;
	}
}