.shop-categories {
	margin: 0 auto;
	background: url(../images/background-down.png); 
	background-repeat: no-repeat;
	background-position: right bottom;
	text-align: center;
}
.shop-categories__item {
	position: relative;
	width: @inner-blocks-width/2;
	display: inline-block;
	@media (max-width: @media-width-all) {width: @main-blocks-width;}
}
.shop-categories__item img {
	width: 100%;
}
.shop-categories__item h1 {
	position: absolute;
	left: 0;
	bottom: 4px;
	width: 100%;
	padding: 5px 0;
	display: inline-block;
	text-align: center;
	background-color: @menu-color;
	color: #fff;
	&:hover {
		background-color: darken(@menu-color, 10%);
	}
}
